<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/pi.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>لوگو رو از حفظ نقاشی کن | protect the logo from maintenance</title>


</head>


    <header>
        <p>
            لوگو های مختلف رو از حفظ نقاشی کن
        </p>
    </header>


    <div class="box">
        <p class="m">لوگوی پایتون(Python) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="black"></canvas>
        <img src="../static/images/python.png" alt="لوگوی پایتون" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: blue" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: black" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: white" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: yellow" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی مایکروسافت(Microsoft) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/microsoft.png" alt="لوگوی مایکروسافت" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(255, 71, 71);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(31, 170, 3);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 196, 0);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: #0077ff" tabindex="0"></canvas>
    </div>


    <div class="box">
        <p class="m">لوگوی آمازون(Amazon) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/amazon.png" alt="لوگوی آمازون" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(255, 115, 0);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: black" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی شیائومی(Xiaomi) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/mi.png" alt="لوگوی شیائومی" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(240, 108, 0);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 255, 255)" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی نایک(Nike) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="black"></canvas>
        <img src="../static/images/nike.png" alt="لوگوی نایک" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: white;" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی آدیداس(Adidas) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/adidas.png" alt="لوگوی آدیداس" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(32, 32, 32);" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی نت فلکس(Netflix) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/netflix.png" alt="لوگوی نت فلکس" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(248, 3, 3);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(160, 21, 44)" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی دیجی کالا رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="#e23434"></canvas>
        <img src="../static/images/digikala.png" alt="لوگوی دیجی کالا" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: white;" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی اپل(Apple) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/apple.png" alt="لوگوی اپل" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(0, 0, 0);" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی اندروید(Android) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/android.png" alt="لوگوی اندروید" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(88, 231, 5);" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی مک دونالد(McDonald's) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/mcdonald.png" alt="لوگوی مک دونالد" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(255, 196, 0);" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی اسپاتیفای(Spotify) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/spotify.png" alt="لوگوی اسپاتیفای" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(0, 0, 0);" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(73, 189, 37)" tabindex="0"></canvas>
    </div>

    <div class="box">
        <p class="m">لوگوی کروم(Chrome) رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white"></canvas>
        <img src="../static/images/chrome.png" alt="لوگوی کروم" class="image" tabindex="0"> <br>
        <canvas class="c color-picker" style="background-color: rgb(40, 40, 255)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(18, 151, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(219, 0, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 187, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 255, 255)" tabindex="0"></canvas>
    </div>

    <div class="box" style="height: 670px;">
        <p class="m">لوگوی دلخواهت رو نقاشی کن</p>
        <canvas class="canvases drawing-canvas" data-background-color="white" style="width: 520px; height: 520px;"></canvas> <br>
        <canvas class="c color-picker" style="background-color: rgb(40, 108, 255)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(19, 165, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(219, 0, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 187, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 153, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 255, 255)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(0, 0, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(255, 0, 149)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(225, 2, 255)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(132, 0, 255)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(165, 99, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(133, 97, 0)" tabindex="0"></canvas>
        <canvas class="c color-picker" style="background-color: rgb(87, 52, 0)" tabindex="0"></canvas>
    </div>

    <footer>
        <pre class="mff">
آیا لوگوهارو خوب به خاطر میاری؟
این یک تست برای سنجش توانایی به خاطر سپردن لوگوهای مختلف هست!
<a href="https://github.com/ShayanCoder710/plm/" target="_blank">گیت هاب وبسایت</a>
        </pre>
    </footer>


    <script>
        // javascript is written on artificial intelligence
        if (window.innerWidth < 1100 ) {
            window.location.href="/mobile";
        }

        const canvasWidth = 400;
        const canvasHeight = 400;
        
        const drawingCanvases = document.querySelectorAll('.drawing-canvas');

        drawingCanvases.forEach(canvas => {
            canvas.width = canvasWidth;
            canvas.height = canvasHeight;
            
            const ctx = canvas.getContext('2d');
            
            const bgColor = canvas.dataset.backgroundColor || 'white'; 
            ctx.fillStyle = bgColor;
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            let isDrawing = false;
            let lastX = 0;
            let lastY = 0;

            function getMousePos(canvas, evt) {
                const rect = canvas.getBoundingClientRect();
                const clientX = evt.clientX - rect.left;
                const clientY = evt.clientY - rect.top;
                
                const scaleX = canvas.width / rect.width;
                const scaleY = canvas.height / rect.height;
                
                return {
                    x: clientX * scaleX,
                    y: clientY * scaleY
                };
            }
            
            ctx.lineWidth = 14;
            ctx.lineCap = 'round';
            ctx.lineJoin = 'round';
            ctx.strokeStyle = canvas.dataset.drawColor || 'black'; 

            canvas.addEventListener('mousedown', (e) => {
                isDrawing = true;
                const pos = getMousePos(canvas, e);
                lastX = pos.x;
                lastY = pos.y;
            });

            canvas.addEventListener('mousemove', (e) => {
                if (!isDrawing) return;
                const pos = getMousePos(canvas, e);
                ctx.beginPath();
                ctx.moveTo(lastX, lastY);
                ctx.lineTo(pos.x, pos.y);
                ctx.stroke();
                lastX = pos.x;
                lastY = pos.y;
            });

            canvas.addEventListener('mouseup', () => {
                isDrawing = false;
            });
            
            canvas.addEventListener('mouseout', () => {
                isDrawing = false;
            });
        });

        const colorPickers = document.querySelectorAll('.c');
        colorPickers.forEach(picker => {
            picker.addEventListener('click', () => {
                const computedStyle = window.getComputedStyle(picker);
                const pickerColor = computedStyle.backgroundColor;
                drawingCanvases.forEach(canvas => {
                    canvas.getContext('2d').strokeStyle = pickerColor;
                    canvas.dataset.drawColor = pickerColor; 
                });
            });
        });

    </script>

</body>
</html>
